<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('projects') }}">Projetos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bem-vindo ao meu portfólio!</h1>
        <img src="https://media.licdn.com/dms/image/v2/D4D03AQG8HesHFh3O9Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1712878314530?e=1730332800&v=beta&t=bzCl-5LAbzjEQPhgdfPvf-JQabEjw-yrStXK6rI64eM" alt="Perfil" class="profile-img">
        <p>Sou um estudante de Ciências da Computação, tenho como principal foco para minha carreira profissional
            a área de infraestrutura de tecnologia. Busco por constante evolução profissional em minhas aptidões
            por servidores, computação em nuvem, hardware no geral e soluções inteligentes para a estruturação de projetos tecnológicos.</p>
        <p>Sou uma pessoa esforçada, comunicativa e de fácil adaptação. Tenho facilidade com hardware e eficiente aprendizado
            na área de tecnologia da informação. Meu mais importante objetivo no momento é aprimorar minhas habilidades, conhecimentos na área e desenvolvimento pessoal. Quero me tornar um melhor profissional a cada dia, buscando oportunidades para crescer profissionalmente e contribuir de forma
            significativa para projetos futuros.</p>
    </main>
    <footer>
        <p>&copy; 2024 Vinícius R. Santos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>